/* ------------------------------ */
/* Reset */
/* ------------------------------ */
body, ul, li, a, figure, button, h2, h3, p, span {
    margin: 0;
    padding: 0;
    line-height: 1;
}
li { list-style: none; }
a { text-decoration: none; }

/* ------------------------------ */
/* style */
/* ------------------------------ */
body {
    color: black;
    /* background-color: white; */
    background-color: rgba(96, 96, 96, 1);
}
.visuallyhidden {
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0px 0px 99.9% 99.9%);
    position: absolute;
    top: 50%;
    overflow: hidden;
}

/* ============================== */
/* Main */
/* ============================== */
.main-container {
    margin: 0 auto;
}
.content-wrapper {
    margin: 0 auto;
    max-width: 1280px;
    max-height: 100vh;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    columns: 1;
    flex-wrap: nowrap;
    overflow: hidden;
}

.content-image-wrapper {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    
}
.image-background {
    width: 100%;
    height: 100%;
    background-image: url(../Images/web-pandabygrey-1920x1080.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.content-sns-wrapper {
    position: absolute;
    width: 100%;
    left: 50%;
    right: auto;
    top: auto;
    bottom: 15%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    z-index: 2;
    /* border: 1px solid gold; */
}
.sns-link-instagram {
    margin: 2.5vh 5vw;
    /* margin-right: 10vw; */
    /* width: 247px; */
    width: 100%;
    height: 40px;
    background-image: url(../Images/web-pandabygrey-instagram.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    /* border: 1px solid cyan; */
}
.sns-link-facebook {
    margin: 2.5vh 5vw;
    /* width: 218px; */
    width: 100%;
    height: 40px;
    background-image: url(../Images/web-pandabygrey-facebook.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    /* border: 1px solid magenta; */
}


/* ============================== */
/* Mobile */
/* ============================== */
@media only screen and (max-width: 610px) {
    .content-sns-wrapper {
        bottom: 0%;
        flex-direction: column;
    }
}
@media only screen and (max-height: 770px) {
    .content-sns-wrapper {
        bottom: 0%;
        flex-direction: column;
    }
}
/* @media only screen and (max-height: 720px) {
    .content-sns-wrapper {
        bottom: 5.5%;
        flex-direction: column;
    }
    .sns-link-instagram, .sns-link-facebook {
        margin: 10px;
    }
}
@media only screen and (max-height: 670px) {
    .content-sns-wrapper {
        bottom: 3.5%;
        flex-direction: column;
    }
    .sns-link-instagram, .sns-link-facebook {
        margin: 10px;
    }
}
@media only screen and (max-height: 630px) {
    .content-sns-wrapper {
        bottom: 1.5%;
        flex-direction: column;
    }
    .sns-link-instagram, .sns-link-facebook {
        margin: 8px;
    }
} */
