/* ------------------------------ */
/* Reset */
/* ------------------------------ */
body, ul, li, a, figure, button, h2, h3, p, span {
    margin: 0;
    padding: 0;
    line-height: 1;
}
li { list-style: none; }
a { text-decoration: none; }

/* ------------------------------ */
/* style */
/* ------------------------------ */
body {
    background-color: white;
    color: black;
}
.visuallyhidden {
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0px 0px 99.9% 99.9%);
    position: absolute;
    top: 50%;
    overflow: hidden;
}

/* ============================== */
/* Main */
/* ============================== */
.main-container {
    margin: 0 auto;
}
.content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    columns: 1;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: rgba(96, 96, 96, 1);
}

.content-image-wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 1;
}
.image-background {
    width: 1920px;
    height: 1080px;
    background-image: url(../Images/web-pandabygrey-1920x1080.jpg);
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    right: auto;
    top: 50%;
    bottom: auto;
    transform: translateX(-50%) translateY(-50%);
}

.content-sns-wrapper {
    max-width: 1920px;
    max-height: 1080px;
    width: 100%;
    position: absolute;
    left: 50%;
    right: auto;
    top: auto;
    bottom: 10.8%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.sns-link-instagram {
    margin-right: 50px;
    width: 247px;
    height: 50px;
    background-image: url(../Images/web-pandabygrey-instagram.png);
    background-size: 247px 50px;
    background-repeat: no-repeat;
}
.sns-link-facebook {
    margin-left: 50px;
    width: 218px;
    height: 50px;
    background-image: url(../Images/web-pandabygrey-facebook.png);
    background-size: 218px 50px;
    background-repeat: no-repeat;
}


/* ============================== */
/* Mobile */
/* ============================== */
@media only screen and (max-width: 640px) {
    .content-sns-wrapper {
        bottom: 9.5%;
        flex-direction: column;
    }
    .sns-link-instagram, .sns-link-facebook {
        margin: 12px;
    }
}
@media only screen and (max-height: 770px) {
    .content-sns-wrapper {
        bottom: 7%;
        flex-direction: column;
    }
    .sns-link-instagram, .sns-link-facebook {
        margin: 12px;
    }
}
@media only screen and (max-height: 720px) {
    .content-sns-wrapper {
        bottom: 5.5%;
        flex-direction: column;
    }
    .sns-link-instagram, .sns-link-facebook {
        margin: 10px;
    }
}
@media only screen and (max-height: 670px) {
    .content-sns-wrapper {
        bottom: 3.5%;
        flex-direction: column;
    }
    .sns-link-instagram, .sns-link-facebook {
        margin: 10px;
    }
}
@media only screen and (max-height: 630px) {
    .content-sns-wrapper {
        bottom: 1.5%;
        flex-direction: column;
    }
    .sns-link-instagram, .sns-link-facebook {
        margin: 8px;
    }
}
